@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #181818;
}

a {
	text-decoration: none;
}

body {
	background-color: #f7f9fb;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
}

img {
	max-width: 100%;
}

header {
	display: flex;
	background-color: #fff;
}

header > img {
	padding: 16px 40px;
	cursor: pointer;
}

header > nav {
	display: flex;
	border-right: 1px solid #f4f4f4;
	border-left: 1px solid #f4f4f4;
}

header > nav a,
header > a {
	display: grid;
	justify-items: center;
	font-weight: bold;
	padding: 16px 40px;
	transition: 0.3s;
}

header > nav a:hover,
header > a:hover {
	background-color: #f4f4f4;
}

header > nav > a:nth-child(4) i {
	position: relative;
}

header > nav > a:nth-child(4) i::after {
	content: '';
	background: url(./img/count.svg);
	display: inline-block;
	position: absolute;
	right: -5px;
	top: -5px;
	width: 16px;
	height: 16px;
}

header > form {
	display: flex;
	align-items: center;
	padding: 0 40px;
	border-right: 1px solid #f4f4f4;
}

header > form i {
	margin-right: 24px;
	width: 24px;
	cursor: pointer;
}

header > form input {
	border: none;
	outline: none;
	font-size: 16px;
}

header > form input:focus {
	border-bottom: 1px solid #181818;
}

header > form input::placeholder {
	color: #cecece;
}

header > div {
	display: flex;
	gap: 16px;
	padding: 16px 100px 16px 32px;
	border-right: 1px solid #f4f4f4;
}

header > div > div {
	display: grid;
	gap: 10px;
}

header > div > div > div:first-child {
	display: flex;
	gap: 10px;
	font-weight: bold;
}

header > div > div > div:first-child > span:last-child {
	color: #18181833;
}

header > div > div > div:last-child {
	white-space: nowrap;
}

header > div > div > div:last-child > span {
	color: #747474;
	display: flex;
	gap: 4px;
}

header > div > div > div:last-child > span > span {
	color: #02b033;
	font-weight: bold;
}

header > a {
	border-right: 1px solid #f4f4f4;
	padding: 16px 24px;
}

/* ---- PROFILE ----- */
main {
	max-width: 1200px;
	margin: 40px auto;
	display: grid;
	grid-template-columns: 850px 290px;
	justify-items: center;
}

main > div > div:first-child {
	width: 850px;
	height: 180px;
	padding: 20px 30px;
	background: url(./img/profileBackground.png);
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

main > div > div:first-child > div {
	display: flex;
}

main > div > div:first-child > div > button:first-child {
	display: flex;
	align-items: center;
}

main > div > div:first-child > div > button:first-child img {
	margin-right: 10px;
}

main > div > div:first-child > div > button:nth-child(2) {
	margin-left: 10px;
}

main > div > div:nth-child(2) {
	background-color: #fff;
	width: 850px;
	height: 180px;
	display: flex;
	gap: 25px;
	padding: 25px;
}

main > div > div:nth-child(2) > img {
	width: 170px;
	height: 170px;
	position: relative;
	top: -45px;
}

main > div > div:nth-child(2) > div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

main > div > div:nth-child(2) > div span {
	display: flex;
}

main > div > div:nth-child(2) > div > span {
	justify-content: space-between;
}

main > div > div:nth-child(2) > div > p {
	font-size: 14px;
}

main > div > div:nth-child(2) > div > span span {
	align-items: center;
}

main > div > div:nth-child(2) > div > span:first-child p {
	font-size: 18px;
	font-weight: bolder;
}

main > div > div:nth-child(2) > div > span > span:first-child > img {
	width: 16px;
	height: 16px;
	margin-left: 8px;
}

main > div > div:nth-child(2) > div > span > span:nth-child(2) img {
	margin-right: 8px;
}

main > div > div:nth-child(2) > div > div:last-child > button:first-child {
	margin-right: 16px;
}

/* Buttons */

button {
	width: 170px;
	height: 32px;
	font-size: 12px;
	text-align: center;
	border: none;
	border-radius: 4px;
}
.primary {
	background: linear-gradient(#0077b5 100%, #0e6795 100%);
	color: white;
}

.primary:hover {
	background: white;
	color: #0275b1;
	border: 1px solid #0275b1;
}

.secondary {
	background-color: white;
	color: #0275b1;
	border: 1px solid #0275b1;
}

.secondary:hover {
	background: linear-gradient(#0077b5 100%, #0e6795 100%);
	color: white;
}

.white {
	width: auto;
	height: 36px;
	padding: 0 10px;
	background-color: white;
	color: #181818;
	cursor: pointer;
}
